{% extends 'base.html' %}
{% load static %}

{% block title %}
  Страны
{% endblock title %}
{% block mycss %}
      body {
        font-size: 22px;
        color: Gold;
        font-weight: 900;        
        background-image: url('{% static "13.jpg" %}');
        background-color: rgba(255,255,255,0.2);
        background-blend-mode: lighten;
        background-size: 1800px 900px;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        }
      .menu2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: 2rem; 
        -webkit-text-stroke-color: Maroon; 
        -webkit-text-stroke-width: 2px; 
        color: transparent;
        text-shadow: red 1px 1px 0;
        padding-left: 60px;
        }
      .register__btn{
        width: 230px;
        height: 45px;
        border: none;
        border-radius: 5px;
        background-color: OrangeRed;
        display: block;
        margin-left: auto;
        font-size: 22px;
        font-weight: 900; 
        }
{% endblock mycss %}

{% block content %}
    <button class="register__btn" type="submit"><a href="add_country">Добавить страну</a></button>
    <div>
      <table cellpadding=15>
        {% for country in countries %}
          <tr>
            <td><a href="{% url 'country' country.url %}"><h2 class="menu2">{{ country }}</h2></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
{% endblock content %}
