{% extends 'base.html' %}


{% block title %}
  Главная
{% endblock title %}


{% block content %}   
      <div align="center">
        <h1 class="menu_1">Путеводитель по историческим пивоварням Германии и Европы</h1>
        <table cellpadding=35>
          <tr>
            <td><a href="{% url 'routes' %}"><h3 class="menu1">Маршруты</h3></a></td>
            <td><a href="{% url 'countries' %}"><h3 class="menu1">Страны</h3></a></td>
            <td><a href="{% url 'breweries' %}"><h3 class="menu1">Пивоварни</h3></a></td>
          </tr>
        </table>
      </div>
{% endblock content %}