{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Главная</title>
    <style>
      .menu {
        background-color: #D5D595;
        font-size: 16pt;
      }
    </style>
  </head>
  <body style="background-image: url('{% static "beer_pub_pinta7.jpg" %}')";>
    <div>
      <div align="center">
        <h1>Путеводитель по историческим пивоварням Германии и Европы</h1>
        <table cellpadding=30>
          <tr>
            <td><a href="routes"><h3>Маршруты</h3></a></td>
            <td><a href="#"><h3>Страны</h3></a></td>
            <td><a href="#"><h3>Пивоварни</h3></a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
