{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ route }}
{% endblock title %}

{% block mycss %} 
  body {
    background-image: url('{% static "8.jpg" %}');
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    }
{% endblock mycss %}


{% block content %}
    <div class="register__btn5">
      <h1>&laquo{{ route }}&raquo</h1>
    </div>
    <div class="register__btn6">
      <h2>Детали маршрута</h2>
    </div>
    <div class="register__btn6">
      <h3>Города (поселения) на маршруте: {{ route.route_cities }}</h3></a>
    </div>
    <div class="container">
      <div id="image"><img src="/static/10.jpg" width="280" height="180" border="0" alt="город">
        <div id="image_text"><a href="base_city" style="text-decoration: none;"><h4 class="register__btn3">Базовый город</h4></a></div>
      </div>
      <div id="image"><img src="/static/bus/bus.jpg" width="280" height="180" border="0" alt="автобус">
        <div id="image_text"><a href="bus" style="text-decoration: none;"><h4 class="register__btn3">Общественный транспорт</h4></a></div>
      </div>
      <div id="image"><img src="/static/map/map.jpg" width="280" height="180" border="0" alt="карта">
        <div id="image_text"><a href="description" style="text-decoration: none;"><h4 class="register__btn3">Описание маршрута</h4></a></div>
      </div>
      <div id="image"><img src="/static/duero3.jpg" width="280" height="180" border="0" alt="бочки">
        <div id="image_text"><a href="brewery" style="text-decoration: none;"><h4 class="register__btn3">Пивоварни</h4></a></div>
      </div>
    </div> 
{% endblock content %}

