{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список пивоварен по маршруту
{% endblock title %}

{% block mycss %} 
  body {
    background-image: url('{% static "14.jpg" %}');
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    }
{% endblock mycss %}


{% block content %}
    <div class="register__btn5">
      <h3>Список пивоварен по маршруту </h3>
    </div>
    {% for brewery in breweries %}
      <div class= "container1">
        <div id="image1"><img src="{{ brewery.image.url }}"  width="280" height="180" border="0" alt="пивоварня">
          <div id="image_text1"><a href="{{ brewery.url }}" style="text-decoration: none;"><h4 class="register__btn3">{{ brewery }}</h4></a></div>
        </div>
      </div>
    {% endfor %} 
{% endblock content %}