{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список маршрутов
{% endblock title %}

{% block mycss %} 
  body {
    font-size: 22px;
    color: Gold;
    font-weight: 900;        
    background-image: url('{% static "4.jpg" %}');
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    }
  .menu2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 2rem; 
    -webkit-text-stroke-color: Maroon; 
    -webkit-text-stroke-width: 2px; 
    color: transparent;
    text-shadow: red 1px 1px 0;
    padding-left: 60px;
    }
{% endblock mycss %}

{% block content %}
    <div>
      <table cellpadding=15>
        {% for route in routes %}
          <tr>
            <td><a href="{% url 'route' route.url %}"><h2 class="menu2">{{ route }}</h2></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
{% endblock content %}
